@import url('https://fonts.googleapis.com/css2?family=EB+Garamond:ital,wght@0,400;0,500;0,600;0,700;0,800;1,400;1,500;1,600;1,700;1,800&family=Libre+Barcode+39+Extended&family=Redacted+Script&family=Rubik+Iso&family=Rubik+Puddles&family=UnifrakturMaguntia&display=swap');

.App {
  background-color: #fff4ec;
  height: 100%;
}

header{
  display: flex;
  font-size: 5vw;
  padding: 1%;
  font-family: 'Rubik Puddles', cursive;
  font-weight: 1000;
  align-items: center;
}

.pad{
  margin:50px;
}

.bigImg{
  height: 300px;
  width: 300px;
  margin-left: 2%;
  margin-right: 2%;
  border-radius: 25px;
}
img{
  height: 200px;
  width: 200px;
}

.items{
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  width: 79vw;
}

.item{
  width: 300px;
  margin: 1%;
  padding: 1%;
  text-align: center;
  align-items: center;
  background-color: #966b9d;
  color: #fff4ec;
  font-family: 'Rubik Iso', cursive;
  border-radius: 25px;
}

.item:hover{
  box-shadow: -5px 5px 5px #c98686;
}

.item:hover > h1{
  font-style: italic;
}

.center-this{
  display: flex;
  align-items: center;
  justify-content: center;
}

h1{
  font-family: 'EB Garamond', serif;
}

.sorter{
  width: 17vw;
  padding: 2%;
  text-align: center;
  justify-content:start;
  margin-top: 0;
  padding-top: 0;
}

.itemsAndSorter{
  display: flex;
  flex-wrap: wrap;  
  padding-bottom: 1%;
}

button{
  font-family: 'UnifrakturMaguntia', cursive;
  font-size: medium;
}

button{
  font-family: 'EB Garamond', serif;
  font-weight: 600;
  font-size: medium;
  border-radius: 25px;
  background-color: #f2b880;
  color: black;
}

button:hover{
  cursor: pointer;
}

label{
  text-align: center;
  font-size: x-large;
  font-family: 'EB Garamond', serif;
  font-weight: 1000;
  padding: 0;
  margin-top: 0;
}

select{
  text-align: center;
  font-size: x-large;
  font-family: 'EB Garamond', serif;
  font-weight: 800;
  text-decoration: underline;
  border-color: #fff4ec;
  background-color: #fff4ec;
}

.stolen{
  padding: 3%;
  font-family: 'EB Garamond', serif;
}

.sortingLabel{
  text-align: center;
  font-size: medium;
  font-family: 'EB Garamond', serif;
  font-weight: 600;
  border-color: #fff4ec;
  background-color: #fff4ec;
}